@layer base {
  :root {
    --text: #0b0705;
    --background: #f1e6df;
    --primary: #cea68d;
    --secondary: #e3cdbf;
    --accent: #966140;
  }

  .dark {
    --text: #faf6f4;
    --background: #20150e;
    --primary: #724a31;
    --secondary: #402a1c;
    --accent: #bf8a69;
  }
}